
        <div
        class="panel panel-default"
        >
        <div class="panel-heading">{{ element.name }}</div>
        <div class="panel-body">
         <!-- <p>
            <strong *ngIf="element.type === 'server'" style="color: red">{{ element.content }}</strong>
            <em *ngIf="element.type === 'blueprint'">{{ element.content }}</em>
          </p>
          -->
          <ng-content></ng-content>
          <!-- we can move this content as content of our component and then we can show it here using ng-content 
          -->
        </div>
      </div>
   